html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3 {
  margin: 0;
}


body {
  position: relative;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  font-family: Lato;
}
.container {
  padding: 0 10px;
  margin: 0 auto;
  width: 960px;
}
.page-header {
  z-index: 10;
  position: sticky;
  top: 0;
  padding-top: 24px;
  min-height: 95px;
  color: #fff;
  letter-spacing: -0.5px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}


.page-header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.page-header__logo {
  grid-column: 1 / 4;
  font-style: normal;
  font-size: 25px;
  line-height: 1.5;
  text-transform: uppercase;
}

.page-header__logo-mark {
  color: #f06c64;
}

.page-header__nav {
  padding-top: 10px;
}

.nav {
  display: flex;
}

.nav__link {
  position: relative;
  margin-right: 31px;
  font-weight: bold;
  font-size: 12px;
  color: #fff;
  letter-spacing: -0.3px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s color;
}

.nav__link:hover {
  color: #f06c64;
}

.nav__link:last-child {
  margin-right: 0;
}

.nav__link::before {
  position: absolute;
  left: -17px;
  top: 50%;
  content: "";
  width: 3px;
  height: 3px;
  background-color: #494e62;
  border-radius: 50%;
  transform: translateY(-50%);
}

.nav__link:first-child::before {
  display: none;
}

.nav__link--active {
  color: #f06c64;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #f06c64;
  overflow: hidden;
}
.carousel__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.carousel__slide {
  position: relative;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  display: none;
  margin: 0 auto;
  animation: 0.5s ease-in-out;
}

.carousel__slide--active,
.carousel__slide--next {
  display: flex;
}

.carousel__slide--next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.carousel__img {
  position: relative;
}

.phone {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone__img-phone--v {
  margin-right: 72px;
}

.phone__img-area--power-off .phone__img-screen {
  display: block;
}

.phone__img-area {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: calc(100% - 25px);
  height: calc(100% - 33px);
  border-radius: 27px;
  cursor: pointer;
}

.phone__img-screen--v {
  display: none;
  margin: 65px auto 0;
  width: 189px;
  height: 333px;
  background-color: #000000;
}

.phone__img-screen--h {
  display: none;
  margin: 14px 60px 0;
  width: 333px;
  height: 188px;
  background-color: #000000;
}

.carousel__btn {
  position: absolute;
  top: calc(50% - 1px);
  left: -4px;
  width: 20px;
  height: 27px;
  font-size: 0;
  background-color: transparent;
  width: 27px;
  height: 27px;
  border: 0;
  transform: translateY(-50%);
  background-image: url("./assets/img/chev.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s color;
  cursor: pointer;
}

.carousel__btn:hover {
  opacity: 0.6;
}

.carousel__btn:hover,
.carousel__btn:focus {
  outline: none;
}

.carousel__btn:hover svg,
.carousel__btn:focus svg {
  fill: #ca4549;
}

.carousel__btn--next {
  left: auto;
  right: -6px;
  transform: rotate(180deg);
  transform-origin: center 7px;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.section {
  padding-top: 62px;
  padding-bottom: 36px;
  color: #767e9e;
  background-color: #f2f2f2;
  border-bottom: 6px solid #fff;
}

.section--dark {
  background-color: #2d303a;
  border-bottom-color: #323746;
}

.section--portfolio,
.section--about-us {
  padding-bottom: 67px;
}

.section--feedback {
  padding-bottom: 15px;
  color: #f0d8d9;
  background-color: #f06c64;
  border-bottom-color: #ea676b;
}

.section--feedback .section__description {
  margin-bottom: 38px;
}

.section--feedback .section__title {
  color: #f0d8d9;
}

.section--about-us .section__description {
  margin-bottom: 45px;
}

.section__title {
  margin-bottom: 21px;
  font-weight: 900;
  font-size: 30px;
  color: #666d89;
}

.section__description {
  margin-bottom: 39px;
  font-weight: 300;
}

.section__description--without-bmargin {
  margin-bottom: 0;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-list__item {
  max-width: 300px;
  width: 100%;
}

.service {
  display: flex;
  margin-bottom: 25px;
}

.service__title {
  margin-bottom: 5px;
  font-weight: 900;
  font-size: 18px;
}

.service__text {
  font-size: 12px;
  line-height: 21px;
}

.service__img {
  margin-top: 8px;
  margin-right: 20px;
  flex-shrink: 0;
  width: 60px;
  height: 59px;
  border: 2px solid #666d89;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.service__img--design {
  background-image: url("./assets/img/pen.png");
}

.service__img--ideas {
  background-image: url("./assets/img/bulb.png");
}

.service__img--love {
  background-image: url("./assets/img/heart.png");
}

.service__img--layout {
  background-image: url("./assets/img/smartphone.png");
}

.service__img--support {
  background-image: url("./assets/img/bubble.png");
}

.service__img--star {
  background-image: url("./assets/img/star.png");
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags__item {
  margin-right: 8px;
  margin-bottom: 7px;
  padding: 0 7px;
  line-height: 20px;
  font-size: 12px;
  color: #767e9e;
  border: 1px solid #666d89;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s ease all;
}

.tags__item:last-child {
  margin-right: 0;
}

.tags__item:hover {
  color: #dedede;
  border-color: #c5c5c5;
}

.tags__item--active {
  color: #dedede;
  border-color: #c5c5c5;
  cursor: auto;
}

.section--portfolio .tags {
  margin-top: 12px;
  margin-bottom: 11px;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 601px;
  overflow: hidden;
}

.gallery__image {
  margin-bottom: 20px;
  max-width: 220px;
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: 0.2s transform ease;
}

.gallery__image:hover {
  transform: scale(0.9);
}

.person__image {
  margin-bottom: 10px;
}

.person__name {
  margin-bottom: 10px;
}

.person__desc {
  margin-bottom: 25px;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.socials__item {
  margin-right: 8px;
  width: 32px;
  height: 32px;
  font-size: 0;
  border: 1px solid #666d89;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.2s all ease;
}

.socials__item:hover {
  border-color: #f06c64;
  border-width: 2px;
}

.socials__item--fb {
  background-image: url(./assets/img/facebook.png);
}
.socials__item--gp {
  background-image: url(./assets/img/google+.png);
}
.socials__item--twitter {
  background-image: url(./assets/img/twitter.png);
}
.socials__item--in {
  background-image: url(./assets/img/linkedin.png);
}

.about-us {
  display: flex;
  justify-content: space-between;
}

.person {
  max-width: 300px;
  width: 100%;
}

.person__image {
  margin-bottom: 9px;
}

.person__name {
  line-height: 1;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.person__desc {
  margin: 0;
  margin-bottom: 24px;
  line-height: 21.5px;
  font-size: 12px;
}

.feedback {
  padding-top: 6px;
}

.feedback__field {
  position: relative;
  display: block;
  margin-bottom: 16px;
  padding: 0 15px;
  width: 100%;
  height: 38px;
  font-size: 12px;
  font-family: Lato;
  color: #f48c8f;
  background-color: #d6564f;
  border: 0;
  border-radius: 5px;
  transition: 200ms all ease;
}

.feedback__field:focus {
  background-color: #fff;
  color: #000;
  outline: none;
  border: none;
}

.feedback__field::placeholder {
  font-size: 12px;
  font-family: Lato;
  color: #f48c8f;
}

.feedback__field--textarea {
  padding-top: 7px;
  height: 202px;
  line-height: 22px;
}

.section__feedback {
  display: flex;
  justify-content: space-between;
}

.section__form {
  margin-right: 20px;
  max-width: 620px;
  width: 100%;
}

.contacts {
  width: 300px;
  color: #f0d8d9;
}

.contacts__title {
  margin-bottom: 3px;
  font-size: 18px;
}

.contacts__info {
  margin-top: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 22px;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contacts__list-item {
  position: relative;
  padding-left: 23px;
  font-size: 12px;
  line-height: 21.5px;
}

.contacts__list-item:hover a {
  text-decoration: underline;
}

.contacts__list-item::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 13px;
  height: 11px;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts__list-item a {
  color: #f0d8d9;
  text-decoration: none;
}

.feedback__field--textarea {
  max-width: 620px;
  width: 100%;
  resize: none;
}

.contacts__list-item--location::before {
  background-image: url(./assets/img/location.png);
}
.contacts__list-item--phone::before {
  background-image: url(./assets/img/phone.png);
}
.contacts__list-item--mail::before {
  background-image: url(./assets/img/mail.png);
}

.page-footer {
  background-color: #2d303a;
  color: #666d89;
}

.page-footer .container {
  display: flex;
  justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px;
}

.copyright {
  font-size: 12px;
}

.socials__item:last-child {
  margin-right: 0;
}

.btn {
  font-family: Lato;
  font-weight: bold;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  color: #f0d8d9;
  transition: 200ms all ease;
}

.btn:hover {
  background-color: #e23e43;
  cursor: pointer;
}

.btn:focus {
  outline: none;
  border: none;
}
